hr{
  margin: var(--spacing-6) 0;
  height: 4px;
  border-top: 1px solid var(--gray-15);
  border-bottom: 1px solid var(--gray-15);
  border-left: 0;
  border-right: 0;
  margin-left: 19.1%;
  margin-right: 19.1%;
}

.md-hr+*{
  margin-top: 0;
}